<%- include ('../../partials/head') %>

<div class="container">
    <br>
    <div class="card">
        <div class="card-header">
            <h2>Criação de usuário</h2>
        </div>
        <div class="card-body">
            <form action="/users/create" method="post">
                <label for="email">Informe um e-mail</label><br>
                <input class="form-control" name="email" type="text"><br>
                <label for="password">Crie uma senha</label><br>
                <input class="form-control" type="password" name="password"><br>
                <button class="btn btn-primary" type="submit">Criar</button>
            </form>
        </div>
    </div>
</div>
<%- include ('../../partials/end') %>